<div id="sidebar-settings" class="sidebar">
  <h3>&#9776; Demo settings</h3>
  <a href="javascript:void(0)" class="s-closebtn">&#10094;</a>
  <div class="settings-content">
    {% if data.form.settings %}
      {{ data.form.settings }}
    {% endif %}
  </div>
</div>
<div id="sidebar-editing" class="sidebar json-edit">
  <h3><i class="glyphicon glyphicon-pencil"></i> Json Request</h3>
  <a href="javascript:void(0)" class="e-closebtn">&#10094;</a>
  <div class="edit-content">
    {% if data.form.flow %}
      {{ data.form.flow }}
    {% endif %}
  </div>
</div>

<div id="main">
  <button class="s-openbtn" id="s-openbtn">&#9776; Settings</button>
  <button class="e-openbtn" id="e-openbtn"><i class="glyphicon glyphicon-pencil"></i> Edit</button>

  <!-- Tab links -->
  <div class="tab">
    <button class="tablinks active" id="document-view"><h3>Document View</h3></button>
    <button class="tablinks" id="json-response"><h3>Json Response</h3></button>
    <button class="tablinks" id="document-view-model"><h3>Model [.docx]</h3></button>
  </div>

  <!-- Tab content -->

  <div id="document-view-content" class="tabcontent active">
    <div class="loading"><div class="loading-content"><div class="loader"></div><p>Awaiting submission ..</p></div></div>
    <div id="panel-document-view"></div>
  </div>

  <div id="json-response-content" class="tabcontent">
    <div class="layout-column layout-column--all jsoneditor--wrapper col-sm-12 col-md-6" data-input="ws_response"></div>
  </div>

  <div id="document-view-model-content" class="tabcontent">
    {% if data.form.model %}
      {{ data.form.model }}
    {% endif %}
  </div>

</div>
